{% extends "baseweb/style_css/base.html"%}
{% block content %}

<h2 style="font: 30px Times;padding-top: 20px;">O projekcie</h2><hr style="width:500px;margin-left:200px;">
<p>Projekt zostal stworzony na potrzeby uczelniane. W celu zautomatyzowania procesu kalkulacji zwiazanych z projektowaniem maszyn sprezajacych takich jak: wentylator do mlyna, turbosprezarka z regulacja upustowa, itp.</br> W celu latwiejszego urzytkowania zostal stworzony front- end z wykozystaniem jezyka HTML wraz z zastosowanymi stylami CSS. Wszystkie obliczenia zostaly wykonane zgodnie z jezykiem programowania Python wzbogaconego o szkielet Django.
</br> Celem calego projektu jest wsparcie procesu obliczeniowego oraz dokumentowanie obliczen z wykozystaniem technologii Latex. Celem dlugoterminowym jest wdrozenie wizualizacji 3D urzadzen na podstawie wykonanych obliczen.</br>
Do przechowywania danych zastosowano bazy PostgreSQL a do ich obslugi standardowe metody ORM. 
</p>

<h2 style="font: 30px Times;padding-top: 20px;">Dla czego ta technologia?</h2><hr style="width:500px;margin-left:200px;">
<p>Programowanie w python pozwala na pisanie prostych programow ktore idealnie nadaja sie do obliczen. Dodatkowym plusem jest mozliwosc wykozystania szkieletu Django, ktory pozwala na tworzenie aplikacji webowych z wykorzystaniem technologi MVC(Model View Controler). Front- end jest wykonany za pomoca jezyka HTML 5 z dodatkiem stylow CSS co pozwala na mozliwosc wykorzystania arkuszy obliczeniowych bez koniecznosci instalacji oprogramowania na komputerze. Dodatkowym plusem zastosowania jezyka HTML jest mozliwosc wykorzystania grafiki 2D co zostanie wykorzystane do wykonywania rysunkow technicznych co pozwoli nam zwizualizowac efektow naszej pracy oraz zilustruje ewentualne bledy powstale w wyniku zlego doboru parametrow.</p>

{% endblock %}
