{% extends "/home/asi/Projects/Django/Wentylator/obliczenia/templates/baseweb/style_css/base.html" %}
{% block content %}

<style>
	.wyniki h1
	{
		padding: 5px;
		font: 35px Times;
	}
	.wyniki hr
	{
		width:500px;
		padding-left: 200px;
	}
	.wyniki table
	{
		width:900px;
		border: 1px solid black;
		background: grey
	}
	.wyniki table tr
	{
		border: 1px solid black;
		height: 20px;	
	}
	.wyniki table tr td
	{
		border: 1px solid black;
		height: 20px;
		width: 100px;
		font:20px Times;
	}
	.wyniki legend
	{
		font: 20px Arial;
	}
	.rysunek hr
	{
		width:500px;
		padding-left: 200px;
	}
	.rysunek h1
	{
    	        padding: 20px;
                font: 35px Times;
	}
	.rysunek canvas
	{
	        border: 1px solid black;
                background: darkgrey;

	}
	.result
	{	
		display:block;
		text-align: left;
	}
	.result  p
	{
		display:inline;	
	}
	
	.results hr
	{
		margin-left:15px;
		width:900px;
		margin-top:5px;
	}
        .results  h
	{
		font:17px Arial;
		position:absolute;left:33%;
	}
	.results   g
	{
                font:17px Arial;
                position:absolute;left:50%;

	}
</style>

<center class="rysunek">
	<h1>Rysunek techniczny</h1>
	<hr>
	</br>

<!--<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#1zakladka" role="tab" data-toggle="tab">1 zakładka</a></li>
  <li><a href="#2zakladka" role="tab" data-toggle="tab">2 zakładka</a></li>
  <li><a href="#3zakladka" role="tab" data-toggle="tab">3 zakładka</a></li>
  <li><a href="#4zakladka" role="tab" data-toggle="tab">4 zakładka</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="1zakladka">Zawartość pierwszej zakładki</div>
  <div class="tab-pane" id="2zakladka">Zawartość drugiej zakładki</div>
  <div class="tab-pane" id="3zakladka">Zawartość trzeciej zakładki</div>
  <div class="tab-pane" id="4zakladka">Zawartość czwartej zakładki</div>
</div>-->



	
	<canvas id="myCanvas" width="900" height="600">
		Your browser does not support the HTML5 canvas tag.
	</canvas>
	<br>
	<br>
	<br>
</center>

<center class="wyniki">
	<h1>Wyniki obliczen</h1><hr>
	</br>
	</br>
	</br>
	<fieldset>
		<legend>Obliczenia na wlocie do wirnika sprezarki:</legend>
		<div class="results">
			<br>
			<br>
			<div class="result">	
				<h>Strumien masy powietrza</h><g>{{ wyniki.strumien_masy_powietrza }}</g><p>kolejny test</p>
				<hr>
				<h>Praca izentropowa</h><g>{{ wyniki.praca_izentropowa }}</g><p>kolejny test</p>
				<hr>
				<h>Temp. na wlocie</h><g>{{ wyniki.temperatura_w_przekroju_wejsciowym }}</g><p>kolejny test</p>
				<hr>
				<h>Predkosc obwodowa</h><g>{{ wyniki.predkosc_obwodowa }}</g><p>kolejny test</p>
				<hr>
				<h>Predkosc wzgledna na wlocie:</h><g>{{ wyniki.predkosc_wzgledna_na_wlocie }}</g><p>kolejny test</p>
				<hr>
				<h>Predkosc unoszenia na wlocie:</h><g>{{ wyniki.u1 }}</g><p>kolejny test</p>
				<hr>
				<h>Cisnienie na wlocie:</h><g>{{ wyniki.P1 }}</g><p>kolejny test</p>
				<hr>
				<h>Kat wygiecia lopatki na wlocie:</h><g>{{ wyniki.beta1 }}</G><p>kolejny test</p>
				<hr>
				<h>Wspolczynnik mocy sprezarki</h><g>{{ wyniki.mi }}</g><p>kolejny test</p>
				<hr>
				<h>Rzut pionowy predkosci bezwzglednej:</h><g>{{ wyniki.c2u }}</g><p>kolejny test</p>
				<hr>
				<h>Predkosc wylotowa z wirnika:</h><g>{{ wyniki.c2 }}</g><p>kolejny test</p>
				<hr>
				<h>Predkosc wzgledna na wylocie:</h><g>{{ wyniki.w2  }}</g><p>kolejny test</p>
				<hr>
				<h>Kat wygiecia lopatki na wylocie:</h><g>{{ wyniki.beta2 }}</g><p>kolejny test</p>
				<hr>
				<h>Temperatura na wyjsciu z wirnika:</h><g>{{ wyniki.T2 }}</g><p>kolejny test</p>
				<hr>
				<h>Cisnienie na wyjsciu z wirnika:</h><g>{{ wyniki.p2 }}</g><p></p>
				<hr>
				<h>Srednica wylotowa wirnika:</h><g>{{ wyniki.D2 }}</g><p></p>
				<hr>
				<h>Srednica wlotowa wirnika:</h><g>{{ wyniki.D1 }}</g><p></p>
				<hr>
				<h>Srednica piasty na wlocie do wirnika:</h><g>{{ wyniki.D0 }} </g><p>test dzialani</p>
				<hr>
				<h>Szerokosc kanalu wylotowego z wirnika:</h><g>{{ wyniki.b }}</g><p></p>
				<hr>
				<h>Wysokosc wirnika sprezarki:</h><g>{{ wyniki.h1 }}</g><p></p>
				<hr>
				<h>Promien krzywizny piasty:</h><g>{{ wyniki.rp }}</g><p></p>
				<hr>
				<h>Srednica wylotowa z dyfuzora:</h><p style="padding-left:139px;">{{ wyniki.T2_kr  }}</p><p></p>
				<hr>
				<h>Temperatura opuszczajaca dyfuzor:</h><p style="padding-left:112px">{{ wyniki.P2_kr  }}</p><p></p>
				<hr>
				<h>Wzrost cisnienia na wyjsciu z dyfuzora:</h><p style="padding-left:85px;">{{ wyniki.T3  }}</p><p></p>
				<hr>
				<h>Temperatura na wylocie z kolektora: </h><p style="padding-left:102px;">{{ wyniki.p3 }}</p><p></p>
				<hr>
				<h>Cisnienie na wyjsciu z kolektora: </h><p style="padding-left: 120px">  {{ wyniki.A3 }}</p><p></p>
				<hr>
				<h>Predkosc obrotowa:</h><p>{{ wyniki.n }}</p><p></p>
				<hr>
				<h>Praca sprezarki:</h><p style="padding-left:232px;">{{ wyniki.ls }}</p><p></p>
				<hr>
				<h>Sprawnosc sprezarki:</h><p style="padding-left:200px">{{ wyniki.eta_s }}</p><p></p>
				<hr>
				<h>Moc napedowa sprezarki:</h><p style="padding-left:170px;">{{ wyniki.Ns }}</p><p></p>
			</div>
		</div>

	</fieldset>
	<br><br><br>	
</center>
	

<script>
	var c = document.getElementById("myCanvas");
	var ctx = c.getContext("2d");
	ctx.moveTo(20,20);
	ctx.lineTo(880,20);
	ctx.lineTo(880,580);
	ctx.lineTo(20,580);
	ctx.lineTo(20,20);
	ctx.stroke();
	ctx.moveTo(880,450);
	ctx.lineTo(500,450);
	ctx.lineTo(500,580);
	ctx.stroke();
	ctx.moveTo(500,475);
	ctx.lineTo(880,475);
	ctx.stroke();
	ctx.font = "15px Arial";
	ctx.strokeText("Projektowal:",505,466);
	ctx.moveTo(620,450);
	ctx.lineTo(620,580);
	ctx.stroke();
	ctx.font = "15px Arial";
	ctx.strokeText("Konstrulowal:",505,493);
        ctx.moveTo(700,450);
        ctx.lineTo(700,580);
        ctx.stroke();
        ctx.font = "15px Arial";
        ctx.strokeText("Rysowal:",505,518);
        ctx.moveTo(500,527);
        ctx.lineTo(880,527);
        ctx.stroke();
        ctx.font = "15px Arial";
        ctx.strokeText("Sprawdzal:",505,547);
        ctx.moveTo(500,555);
        ctx.lineTo(880,555);
        ctx.stroke();
        ctx.moveTo(750,450);
        ctx.lineTo(750,580);
        ctx.stroke();    
        ctx.moveTo(810,450);
        ctx.lineTo(810,580);
        ctx.stroke();
	ctx.moveTo(500,500);
	ctx.lineTo(880,500);
	ctx.stroke();	
</script> 



{% endblock %}
